.tabs {
	max-width: 400px;

	// .tabs__nav
	&__nav {
		display: flex;
		margin: 0px -2px;
	}

	// .tabs__nav-item
	&__nav-item {
		padding: 20px;
		margin: 0px 2px;
		flex-grow: 1;
		text-align: center;
		background-color: #636e72;
		color: #fff;
		cursor: pointer;

		&._active {
			background-color: #0984e3;
		}
	}

	// .tabs__body
	&__body {
		background-color: #eeee;
	}
	
	// .tabs__block-item
	&__block-item {
		display: none;
		padding: 10px;

		&._active {
			display: block;
		}
	}
}